:root {
    --primary-color: #1CB684;
    --tekst-color: white;
    --tweede-tekst-color: #1E2E3B;
    --highlights-color: #FCF087;
    --menu-width: 300px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

/* NAVIGATIEBAR */
.mainbar {
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo img {
    height: 70px;
}

nav a {
    color: var(--tekst-color);
    text-decoration: none;
}

.nav-links a {
    margin: 0 1.5rem;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--highlights-color);
}

.nav-links {
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-right {
    display: flex;
}

.accessibility-icon {
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.accessibility-icon i {
    font-size: 1.4rem;
}

.language-select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #333;
    border-radius: 300px;
    padding: 0.4rem 0.9rem;
}

.language-select select {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-size: .5em auto, 100%;
    padding-right: 15px;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 500;
}

.language-select select option:checked {
    color: #000000; /* Grijs */
}

/* Lunch en Diner */
.main-menu{
    background-color: var(--primary-color);
}

.menu {
    text-align: center;
    padding: 40px 20px;
}

.menu h2{
    font-family: "Pacifico";
    color: #FCF087;
}

.menu h3{
    font-family: "Pacifico";
    color: white;
}

.menu h5{
    color: #FCF087;
    font-family: "Poppins";
}
.menu-category {
    margin-bottom: 40px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: white;
    box-shadow: #000000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 25vw;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0,5;
    transform: 0.3s ease;
}

.menu-item p{
    align-self: center;
    font-family: "Poppins";
    color: black;
}

.menu-item:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.menu button{
    background-color: #1E2E3B;
    color: white;
    border-radius: 20px;
    width: 10vw;
    height: 6vh;
    align-self: center;
    transition: 0.4s ease;
}

.menu button:hover{
    background-color:#264653;
    color: white;
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #264653;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px;
}

.allergen-icons {
    display: flex;
    gap: 5px;
}

.section-voorgerecht-desktop{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.allergen-icon {
    width: 5vw; 
    height: 5vh;
    object-fit: contain;
}


button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1E2E3B (0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.slideshow{
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; 
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slide{
    display: none;
}

.slide:first-child{
    display: block
}

/* Tablet Versie */
@media (min-width: 768px){
    .menu-items{
        display: flex;
        justify-content: space-between;
    }
    .menu-item{
        width: 10vw;
    }
}

/* Mobiele Versie*/
@media (max-width: 768px) {
    .slideshow {
        display: flex; 
    }
    .menu-items{
        display: none;
    }
    
    .section-voorgerecht-desktop{
        display: none;
    }
}
/* Openingstijden en Locatie */ 
.openingstijden-locatie {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #1E2E3B;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    overflow: hidden;
}

.openingstijden, .locatie {
    width: 30%;
    background: #1E2E3B;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.openingstijden, .locatie h2, p {
    font-family: "Poppins";
    color: white;
}

.openingstijden h3{
    font-family: "Poppins";
    color: white;
}

.image-gallery {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-content: center;
}

.image-gallery img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 25vh;
    border-radius: 5px;
}

.image-gallery img:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: -20vh;
}

.image-gallery img:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-self: center;
}


.image-gallery img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 50vh;
    border: 0;
    border-radius: 10px;
}

/* Tablet Versie */
@media (min-width: 768px){
    .openingstijden, .locatie{
        width: 60%;
    }

    .image-gallery{
        width: 80%;
        margin: 0 auto;
    }

}

/* Mobiele Versie */
@media (max-width: 768px){
    .image-gallery{
        display: none;
    }

    .image-gallery img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .image-gallery img:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: 20vh;
    }

    .image-gallery img:nth-child(2){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 15vh;
        margin-top: -10vh;
    }

    .image-gallery img:nth-child(3){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 20vh;
    }

    .image-gallery img:nth-child(4){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 15vh;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        overflow-y: auto;
        max-height: 100vh;
        width: 80%;
        margin-bottom: 20px;
    }

    .openingstijden, .locatie, .contact {
        width: 90%;
        margin-bottom: 60px;
    }

    iframe {
       height: auto;
        width: 90%;

}
}



/* Vacatures */
.vacature-site {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    background-image: linear-gradient(var(--primary-color)( 30, 30, 10, 1)rgba(30, 30, 10, 1)), url("/images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vacature-site h1{
    font-family: "Pacifico";
    color: #FCF087;
}

.vacatures h1 {
    text-align: center;
    margin-top: 20px;
}

.vacature-site h5{
    font-family: "Pacifico";
    color: white;
    font-size: large;
}

.vacatures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 0;
    overflow-y: hidden;
    gap: 20px;
}

.vacature {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 0;
    margin: 20px;
    width: 15vw; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    overflow: hidden; 
    position : relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vacature:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.vacature img {
    width: 100%;
    height: 15vw;
    object-fit: cover; 
    border-radius: 12px 12px 0 0; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.vacature h2 {
    font-family: "Poppins", sans-serif;
    color: #1CB684;
    margin: 15px 10px 5px;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vacature p {
    font-family: "Poppins", sans-serif;
    color: black;
    margin: 5px 15px 15px;
    font-size: 0.9rem;
}

.vacature button {
    font-family: "Poppins", sans-serif;
    background-color: #1E2E3B;
    color: white;
    border-radius: 30px;
    width: 80%;
    height: 6vh;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background 0.3s ease, transform 0.2s ease;
    border: none;
    cursor: pointer;
    align-self: center;
    bottom: 15px;
}

.vacature button:hover {
    background-color: #264653;
    transform: scale(1.05);
}


.vacature button:hover {
    background-color: #264653;
    color: white;
}
/* Tablet Versie*/
@media (max-width: 768px){
    .vacature{
        width: 45%;
    }
}
/* Mobiele Versie */
@media (max-width: 768px){

    .body{
         overflow-x: hidden;
    }

    .vacatures{
        display: block;
        flex-direction: column;
        align-items: center;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .vacature{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        min-height: 40vh;
    }

    .vacature-site h5{
        font-size: medium;
        margin: 0 10px;
    }

    .vacature h2{
        justify-content: center;
    }

    .vacature img{
        height: auto;
        max-height: 30vh;
        object-fit: cover;
}

/* HERO */

#hero {
    display: flex;
    color: var(--tekst-color);
    padding: 0 5%;
    position: relative;
    height: 120vh;
    margin-top: -100px;
    background-color: var(--primary-color);
}

.hero-content {
    margin-top: 100px;
    max-width: 60%; /* Adjust based on the layout in the image */
}

#hero h1 {
    font-size: 4.7vw;
    margin-bottom: 10px;
    line-height: 1.4;
    width: 100vh;
}

#hero p {
    font-size: 1.2rem;
    line-height: 1.4;
    width: 30vw;
}

.hero-content mark {
    background-color: #1CB684;
    color: #FCF087;
}

#hero .button {
    display: flex;
    gap: 15px;
}

#hero .reserveren-btn {
    background: rgb(30,46,59);
    background: linear-gradient(117deg, rgba(30,46,59,1) 37%, rgba(46,66,83,1) 100%);
    color: white;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

#hero .contact-btn {
    background: rgb(255,255,255);
    background: linear-gradient(132deg, rgba(255,255,255,1) 27%, rgba(244,243,243,1) 64%, rgba(171,171,171,1) 100%);
    color: var(--tweede-tekst-color);
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.food-image-overlay {
    position: absolute;
    bottom: 0%; /* Adjusted to move the image up */
    right: 0%; /* Adjusted to move the image further right */
    width: 100%; /* Increased width to make the image larger */
    max-width: 1200px; /* Increased max-width as well */;
    overflow: hidden;
}

.food-image-overlay img {
    height: 1000px;
    width: 1300px;
    object-fit: cover;
    object-position: bottom;
    display: block; /* Remove any extra space below the image */
}

/* INFORMATIE */

#informatie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    color: #000;
    background-color: #fff;
}

.icon {
    background-color: var(--primary-color);
}

.icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
}

.informatie-rand {
    display: flex;
    padding: 30px;
    gap: 180px;
}

.informatie-kaart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.tekst {
    align-items: center;
    justify-content: center;
}

.tekst h3 {
    margin-bottom: -16px;
}

/* OVER ONS */

#over-ons {
    background-color: #F9F9F9;
    height: 800px;
    padding: 0 9%;
    display: flex;

}

.over-ons-container {
    justify-content: center;
    align-items: center;
}

.over-ons-tekst {
    justify-content: center;
    align-items: center;
}

#over-ons h3 {
    color: var(--primary-color);
    font-size: 20px;
}

#over-ons h2 {
    font-size: 40px;
}

#over-ons p {
    width: 60%;
}

#over-ons h2 mark {
    background-color: #F9F9F9;
    color: var(--primary-color);

}

.over-ons-tekst {
    display: flex;
    flex-direction: row-reverse;
}

.chef-image img {
    width: 50vw;
    max-width: 910px;
    display: block;
}

.lijn:before{
    content:" ";
    display: block;
    height: 3px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--primary-color);
}

.lijn{
    font-size: 18px;
    position: relative;
}

.lijn{
    position: relative;
    max-width: 330px;
    margin: 10px 0;
    text-align: center;
  }

.lees-meer-btn {
    background: rgb(28,182,132);
    background: linear-gradient(106deg, rgba(28,182,132,1) 72%, rgba(49,219,163,1) 90%, rgba(54,235,176,1) 100%);
    color: white;
    margin: 20px 0px 0 0;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

/* SPECIALS */

#specials {
    background-color: #F9F9F9;
    height: 600px;
    padding: 0 9%;
    justify-items: center;
    margin-top: 80px;
    display: flex;
}

.specials-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.specials-wrapper .kaart {
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

}

.kaart .kaart-foto {
    position: relative;
}

.kaart .kaart-foto img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.kaart .kaart-foto .kaart-tag {
    position: absolute;
    left: 15px;
    top: 0px;
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    background: var(--primary-color);
}

.chef-specials-image img {
    padding: 0 10%;
    width: 28vw;
    display: block;
}

.kaart .kaart-content {
    line-height: 0.8;
    margin-top: -11px;
    padding: 0 4%;
}

.kaart-content .kaart-titel {
    color: var(--tweede-tekst-color);
}

.kaart-content mark {
    background-color: #ffffff;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
}

.specials-wrapper .kaart:hover {
    transform: translateY(-10px);
}

.kaart-lijst {
    display: flex;
    gap: 20px;
}

.specials-container {
    gap: 50px;
}

.specials-wrapper {
    margin-bottom: 100px;
    justify-items: center;
}

.specials-wrapper h2, h3 {
    line-height: 0.4;
}

.specials-wrapper .specials {
    color: var(--primary-color);
    font-weight: 700;
}

.specials-wrapper h2 {
    color: var(--tweede-tekst-color);
    font-size: 32px;
}

#populair {
    background-color: #F9F9F9;
    height: 600px;
    padding: 0 9%;
    margin-top: 80px;
    align-content: center;
}

/* WAAROM VEGAN FOOD? */

.waarom-vegan-food {
    background-color: #1CB684; /* Green background */
    padding: 0 9%;
    background-image: url('/img/achtergrond-foto.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    height: 500px;
}

.waarom-vegan-food-h1 {
    color: #FCF087;
    margin-bottom: -20px;
    font-size: 1em;
    margin-left: -50px;
    text-align: center;
}

.waarom-vegan-food-h2 {
    text-align: center;
    color: #1E2E3B;
}

.waarom-vegan-food-container h2, h3 {
    line-height: 0.4;
}

.waarom-vegan-food-container .specials {
    color: var(--highlights-color);
    font-weight: 700;
}

.waarom-vegan-food-container  h2 {
    color: var(--tweede-tekst-color);
    font-size: 32px;
}

.waarom-vegan-food {
    padding: 5vw 8vw 2vw 8vw;
    text-align: center;
}

.waarom-vegan-food .kaart1-rand {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    margin-top: 20px;
}

.waarom-vegan-food .kaart1 {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    text-align: start;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.waarom-vegan-food .kaart1 i {
    font-size: 2rem;
    color: #ff6f00;
}

.waarom-vegan-food .kaart1 h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #1E2E3B;
    padding: 10px 0px 0px 0;
    margin-bottom: -8px;
}

.waarom-vegan-food .kaart1 p {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.broccoli, .salade, .discount {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.broccoli {
    background-color: #1CB684;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

.salade {
    background-color: #FF3E67;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

.discount {
    background-color: #185ADB;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

mark {
    background-color: #1CB684;
    color: #FCF087;
}

/* contact formulier */

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .tekst {
    width: 380px;
}

#contact .tekst h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .tekst p {
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
}

#contact .tekst h3 {
    color: var(--tweede-tekst-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .tekst .tekst-details article {
    display: flex;
}

#contact .tekst .tekst-details article .get {
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-color);
    margin-right: 10px;
}

#contact .tekst .tekst-details article p {
    font-size: 15px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

.volg-ons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.volg-ons a:hover{
    color: white;
    background-color: var(--tweede-tekst-color);
    transition: all 0.3s ease;
}

#contact .form {
    width: 60%;
    background: var(--tweede-tekst-color);
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: var(--highlights-color);
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    padding-bottom: 25px;
    color: #fff;
}

#contact .form .form-rij {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-rij input {
    width: 420%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 93.7%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    background: var(--primary-color);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

/* Hamburger menu */         
.hamburger {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.hamburger {
    display: block;
    position: absolute;
    top: 2rem;
    order: 1;
    z-index: 6;
}

/* FOOTER */

footer {
    padding: 5vw 4vw 0vw 0vw;
    background-image: linear-gradient(rgba( 30, 46, 59, 0.99),rgba(30,46,59, 0.99)), url("/images/background.png");
    height: 1100px;
    background-color: #a80000;
    background-position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col img {
    height: 100px;
}

.footer-col {
    width: 320px;
}

.footer-col h4 {
    color: var(--primary-color);
    font-family: 'Pacifico';
    font-size: 24px;
    font-weight: 300;
}

.footer-col li, a  {
    list-style: none;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-col, a {
    color: var(--tekst-color);
        transition: 0.3s ease;
}

.footer-col .tijd  {
    color: var(--highlights-color);
    margin-top: -20px;
}

.footer-col a:hover {
    color: var(--highlights-color);
    padding-left: 6px;
    transition: 0.3s ease;
}

@media (min-width: 768px) {

    /* NAVIGATIE BAR */
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-right{
        display: flex;
    }


    /* FOOTER */
    footer {
        padding: 5vw 0vw 0vw 2vw;
        height: 80vh;
        display: flex;
    }

    .footer-col {
        width: 340px;
    }

    .footer-col img {
        height: 10vw;
    }
}
}