:root {
    --primary-color: #1CB684;
    --tekst-color: white;
    --tweede-tekst-color: #1E2E3B;
    --highlights-color: #FCF087;
    --menu-width: 300px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVIGATIEBAR */
.mainbar {
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35rem 1.5rem;
}

.logo img {
    height: 70px;
}

nav a {
    color: var(--tekst-color);
    text-decoration: none;
}

.nav-links a {
    margin: 0 1.5rem;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--highlights-color);
}

.nav-links {
    display: none;
    align-items: center;
    justify-content: center;
}

.nav-right {
    display: flex;
}

.accessibility-icon {
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.accessibility-icon i {
    font-size: 1.4rem;
}

.language-select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #333;
    border-radius: 300px;
    padding: 0.4rem 0.9rem;
}

.language-select select {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-size: .5em auto, 100%;
    padding-right: 15px;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 500;
}

.language-select select option:checked {
    color: #000000; /* Grijs */
}

/* HERO */

.hero {
    background-color: #1CB684; /* Green background */
    color: white;
    padding: 20px;
    position: relative;
    display: flex;
    height: 40vh; /* Adjust as needed */
    width: auto;
}

.hero-content {
    max-width: 60%; /* Adjust based on the layout in the image */
}

.hero h1 {
    margin-top: -10px;
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 1.2;
    width: 400px;
}

.hero p {
    font-size: 0.8em;
    line-height: 1.4;
    margin-bottom: 20px;
    width: 75%;
}

.hero button {
    background-color: #1E2E3B;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
}

.hero-foto {
    position: absolute;
    bottom: 0vh; /* Adjusted to move the image up */
    right: 0%; /* Adjusted to move the image further right */
    width: 55%; /* Increased width to make the image larger */
    max-width: 70vw;
    overflow: hidden;
}

.hero-foto img {
    height: 40vh;
    display: block;
}

mark {
    background-color: #1CB684;
    color: #FCF087;
  }

/* FOOTER */



@media screen and (min-width: 769px) {

    /* NAVIGATIE BAR */
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
    }

    /* HERO */

    .hero {
        width: auto;
    }

    /* FOOTER */
}