:root {
    --primary-color: #1CB684;
    --tekst-color: white;
    --tweede-tekst-color: #1E2E3B;
    --highlights-color: #FCF087;
    --background-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Arial', sans-serif;
}

/* NAVIGATIEBAR */
.mainbar {
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35rem 1.5rem;
}

.logo img {
    height: 70px;
}

nav a {
    color: var(--tekst-color);
    text-decoration: none;
}

.nav-links a {
    margin: 0 1.5rem;
    font-weight: 500;
}

.nav-links a:hover {
    color: var(--highlights-color);
}

.nav-links {
    align-items: center;
    justify-content: center;
}

.nav-right {
    display: flex;
}

.accessibility-icon {
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.accessibility-icon i {
    font-size: 1.4rem;
}

.language-select {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #333;
    border-radius: 300px;
    padding: 0.4rem 0.9rem;
}

.language-select select {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-size: .5em auto, 100%;
    padding-right: 15px;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 500;
}

.language-select select option:checked {
    color: #000000; /* Grijs */
}

.hamburger {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 2rem;
    order: 1;
    z-index: 6;
    right: 1.2rem;
}

/* HERO */
.hero {
    background-color: #1CB684; /* Green background */
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    height: 450px; /* Adjust as needed */
}

.hero mark {
    background-color: #1CB684;
    color: #FCF087;
}

.logo {
    height: 30px; /* Adjust as needed */
}

.language {
    font-size: 0.8em;
}

.hero-content {
    max-width: 60%; /* Adjust based on the layout in the image */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    line-height: 1.2;
    width: 400px;
}

.hero p {
    font-size: 0.8em;
    line-height: 1.4;
    margin-bottom: 20px;
    width: 80%;
}

.hero .button {
    display: flex;
    gap: 15px;
}

.hero .reserveren-btn {
    background: rgb(30,46,59);
    background: linear-gradient(117deg, rgba(30,46,59,1) 37%, rgba(46,66,83,1) 100%);
    color: white;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.hero .contact-btn {
    background: rgb(255,255,255);
    background: linear-gradient(132deg, rgba(255,255,255,1) 27%, rgba(244,243,243,1) 64%, rgba(171,171,171,1) 100%);
    color: var(--tweede-tekst-color);
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.food-image-overlay {
    position: absolute;
    bottom: 0%; /* Adjusted to move the image up */
    right: -65%; /* Adjusted to move the image further right */
    width: 120%; /* Increased width to make the image larger */
    max-width: 1000px; /* Increased max-width as well */
    overflow: hidden;
}

.food-image-overlay img {
    width: 100%;
    display: block; /* Remove any extra space below the image */
}

/* INFORMATIE */

#informatie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: #000;
    background-color: #fff;
}

.icon {
    background-color: var(--primary-color);
}

.icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.informatie-rand {
    display: grid;
    gap: 15px;
}

.informatie-kaart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tekst {
    align-items: center;
    justify-content: center;
}

/* OVER ONS */

#over-ons {
    background-color: var(--background-color);
    padding: 10% 15%;
    height: 102vh;
    display: flex;
}

#over-ons h2 {
    color: var(--tweede-tekst-color);
}

#over-ons h2 mark {
    background-color: transparent;
    color: var(--primary-color);
}

#over-ons h3 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

#over-ons h2 {
    font-size: 40px;
}

.over-ons-tekststuk p {
    padding: 10px 0;
}

.over-ons-container {
    justify-content: center;
    align-items: center;
}

.over-ons-tekst {
    justify-content: center;
    align-items: center;
}

.lijn:before{
    content:" ";
    display: block;
    height: 3px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--primary-color);
}

.lijn{
    font-size: 18px;
    position: relative;
}

.lijn{
    position: relative;
    max-width: 330px;
    margin: 10px 0;
    padding-left: 40px;
}

.lees-meer-btn {
    background: rgb(28,182,132);
    background: linear-gradient(106deg, rgba(28,182,132,1) 72%, rgba(49,219,163,1) 90%, rgba(54,235,176,1) 100%);
    color: white;
    margin: 20px 0px 0 0;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.chef-image img {
    display: block;
    padding: 0 11%;
    height: 25vh;
    margin-top: -20px;
    transform: scaleX(-1);
}

/* WAT ONS ONDERSCHEIDT */

#waarom-vegan-food {
    background-image: url('/img/achtergrond-foto.png');
    margin-top: 80px;
    background-color: var(--primary-color);
    padding: 10% 8%;
}

#waarom-vegan-food h3 {
    color: var(--highlights-color);
    font-size: 16px;
    font-weight: 600;
}

#waarom-vegan-food h2 {
    color: var(--tweede-tekst-color);
    font-size: 40px;
}

#waarom-vegan-food .kaart-rand {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    margin-top: 20px;
}

#waarom-vegan-food .kaart {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    text-align: start;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

#waarom-vegan-food .kaart i {
    font-size: 2rem;
    color: #ff6f00;
}

#waarom-vegan-food .kaart h3 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #1E2E3B;
    padding: 10px 0px 0px 0;
    margin-bottom: -8px;
}

#waarom-vegan-food .kaart p {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.broccoli, .salade, .discount {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.broccoli {
    background-color: #1CB684;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

.salade {
    background-color: #FF3E67;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

.discount {
    background-color: #185ADB;
    box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.6);
}

/* SPECIALS */

#specials {
    background-color: #F9F9F9;
    height: 600px;
    padding: 0;
    justify-items: center;
    margin-top: 80px;
    display: flex;
}

.specials-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.specials-wrapper .kaart {
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.kaart .kaart-foto {
    position: relative;
}

.kaart .kaart-foto img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.kaart .kaart-foto .kaart-tag {
    position: absolute;
    left: 15px;
    top: 10px;
    border-radius: 30px;
    padding: 5px 15px;
    color: #fff;
    font-weight: 600;
    background: var(--primary-color);
}

.chef-specials-image img {
    padding: 0 10%;
    width: 28vw;
    display: block;
}

.kaart .kaart-content {
    margin-top: -11px;
    padding: 4% 4%;
}

.kaart-content .kaart-titel {
    color: var(--tweede-tekst-color);
}

.kaart-content mark {
    background-color: #ffffff;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
}

.specials-wrapper .kaart:hover {
    transform: translateY(-10px);
}

.kaart-lijst {
    display: flex;
    gap: 20px;
}

.specials-container {
    gap: 50px;
}

.specials-wrapper {
    margin-bottom: 100px;
    justify-items: center;
}

.specials-wrapper .specials {
    color: var(--primary-color);
    font-weight: 700;
}

.specials-wrapper h2 {
    color: var(--tweede-tekst-color);
    font-size: 32px;
}

#populair {
    background-color: #F9F9F9;
    height: 600px;
    padding: 0 9%;
    margin-top: 80px;
    align-content: center;
}

/* CONTACT */

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .tekst {
    width: 380px;
}

#contact .tekst h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 16px;
}

#contact .tekst p {
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
}

#contact .tekst h3 {
    color: var(--tweede-tekst-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .tekst .tekst-details article {
    display: flex;
}

#contact .tekst .tekst-details article .get {
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-color);
    margin-right: 10px;
}

#contact .tekst .tekst-details article p {
    font-size: 15px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

.volg-ons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.3s ease;
}

.volg-ons a:hover{
    color: white;
    background-color: var(--tweede-tekst-color);
    transition: all 0.3s ease;
}

#contact .form {
    width: 60%;
    background: var(--tweede-tekst-color);
    padding: 40px;
    border-radius: 10px;
}

#contact .form h4 {
    font-size: 24px;
    color: var(--highlights-color);
    line-height: 30px;
    margin-bottom: 8px;
}

#contact .form p {
    padding-bottom: 25px;
    color: #fff;
}

#contact .form .form-rij {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-rij input {
    width: 420%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 93.7%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    background: #ffffff;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    background: var(--primary-color);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

/* FOOTER */

footer {
    background-image: linear-gradient(rgba(34, 52, 66));
    height: 40vh;
    background-position: bottom;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col img {
    height: 100px;
}

.footer-col {
    width: 320px;
    padding-top: 8%;
}

.footer-col h4 {
    color: var(--primary-color);
    font-family: 'Pacifico';
    font-size: 24px;
    font-weight: 300;
}

.footer-col li, a  {
    list-style: none;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-col, a {
    color: var(--tekst-color);
    transition: 0.3s ease;
}

.footer-col .tijd  {
    color: var(--highlights-color);
}

.footer-col a:hover {
    color: var(--highlights-color);
    padding-left: 6px;
    transition: 0.3s ease;
}

@media (min-width: 769px) {

    .hero {
        color: white;
        padding: 0px 8vw;
        position: relative;
        overflow: hidden;
        height: 50vw; /* Adjust as needed */
    }

    .hero-content {
        max-width: 60%; /* Adjust based on the layout in the image */
    }
    
    .hero h1 {
        font-size: 4.7vw;
        margin-bottom: 10px;
        line-height: 1.4;
        width: 100vh;
    }
    
    .hero p {
        font-size: 1.2rem;
        line-height: 1.4;
        width: 30vw;
    }
    
    .hero button {
        background-color: #1E2E3B;
        color: white;
        padding: 16px 30px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 700;
        font-family: 'Poppins';
    }
    
    .food-image-overlay {
        position: absolute;
        bottom: 0%; /* Adjusted to move the image up */
        right: 0%; /* Adjusted to move the image further right */
        width: 60%; /* Increased width to make the image larger */
        max-width: 75%;
        overflow: hidden;
    }

    #over-ons {
        height: 50vh;
    }
    
    .food-image-overlay img {
        width: 100%;
        display: block; /* Remove any extra space below the image */
    }

    .informatie-rand {
        display: flex;
        gap: 200px;
    }

    #over-ons {
        padding: 1% 15%;
        height: 80vh;
    }

    .over-ons-tekst {
        display: flex;
    }

    .chef-image {
        width: 50vw;
    }

    .chef-image img {
        height: 87vh;
    }

}

@media (max-width: 768px) {

    #populair {
        padding: 8%;
        height: 160vh;
    }

    #specials {
        height: 140vh;
        display: flex;
        padding: 0 5%;
    }
    .kaart-lijst {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 2rem;
    }

    .chef-specials-image img {
        display: none;
    }

    footer {
        height: 100vh;
    }

    #contact {
        display: block;
    }

    #contact .form .form-rij {
        display: block;
        width: 19.5%;
    }

    #contact .form {
        width: 80%;
    }

    #contact .form .form-col {
        width: 87%;
    }
        

}